name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  validate-hacs:
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
    steps:
      - name: Skip HACS validation
        run: echo "HACS validation disabled"
